html * {
    font-size: 16px;
    /* line-height: 1.625; */
    /* color: #2020131; */
    font-family: Nunito, sans-serif;
  }

.head{
    text-align: center;
    margin-left: 25.5px;
    margin-right: 25.5px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(135, 189, 135);
    color: rgb(31, 31, 31);
    margin-block-end: 0em;
    font-size: 50px;
    width: 615px;
}

.big{
    display: flex;
    /* margin: auto; */
    text-align: center;
    justify-content: center;
    /* margin-left: 200px; */
    /* margin-right: 100px; */
    margin-top: 50px;
    /* flex-direction: row; */
}

.container{
    margin: auto;
    display : flex;
    flex-direction: column;
    width : 40vw;
    /* background-color: yellow; */
}
.container-img{
    margin-left : 40px;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    /* width: 50; */
    /* height: 30; */
    /* display: flex; */
    /* text-align: center; */
}
.container2{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    display : flex;
    flex-direction: column;
    width : 40vw;
    background-color:rgb(135, 189, 135);
}

.desc{
    /* margin: auto; */
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

table,th,td {
    border:1px solid black;
    margin: 0cm;
}

#check-button{
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin: auto;
    width: 70px;
    margin-top: 20px;
    background-color: tomato;
    cursor: pointer;
    /* size: 5; */
}

#bill-amount{
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: rgb(221, 216, 216);
}
#cash-given{
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: rgb(221, 216, 216);
}
.change-table{
    border: none;
}

/* .notes{
    border: none;;
} */